body{
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

div{
    text-align: center;
}

button{
    width: 100px;
    height: 40px;
    font-size: 25px;
    font-weight: bolder;
}

h1 {
    text-align: center;
    font-size: 40px;
}

h4{
    font-size: 25px;
    font-weight: 200;
}